{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
      {% for advert in listAdverts %}
          <li>
              <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                  {{ advert.title }}
              </a>

              par <a href="{{ path('oc_platform_user', {'name': advert.author}) }}">
                  {{ advert.author }}
              </a>
              , le {{ advert.date|date('d/m/Y') }}
              (de type:
              <a href="{{ path('oc_platform_type', {'name': advert.type}) }}">
                  {{ advert.type }}
              </a>
              )
          </li>
      {% else %}
          <li>Pas (encore !) d'annonces</li>
      {% endfor %}
  </ul>

{% endblock %}
