{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Utilisateur  - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Annonces</h2>

    <hr>

    <h2>Liste des annonces de l'utilisateur: {{ listAdverts|first.author }}</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par <a href="{{ path('oc_platform_user', {'name': advert.author}) }}">
                    {{ advert.author }}
                </a>
                , le {{ advert.date|date('d/m/Y') }}
                (de type:
                <a href="{{ path('oc_platform_type', {'name': advert.type}) }}">
                    {{ advert.type }}
                </a>
                )
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces de cette utilisateur</li>
        {% endfor %}
    </ul>

{% endblock %}